@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

/*RESPONSIVENESS SECTION.*/

@media (max-width: 1200px) {
  div.piezointro, div.section {
    width: 65%;
  }
}


@media (max-width: 800px) {
  button.nav-sm{
    display: block;
  }

  a.nav-lg{
    display: none;
  }

  div.piezointro, div.section {
    width: 75%;
  }
  .mapcontainer{
    padding-left: 0;
  }
  .drumkitmap{
    margin: 0 auto;
  }
  .info{
    width: 80%;
  }

}

@media (min-width: 1400px){
  .info{
    float: right;
    margin-left: 10px;
    margin-top: 180px;
    margin-right: 80px;
    width: 50%;
  }
}

@media (min-width: 1200px){
  div.piezointro, div.section {
    width: 50%;
  }
}

@media (min-width: 800px){
  .dropdown{
    display: none;
  }

  a.nav-lg{
    display: block;
  }

  button.nav-sm{
    display: none;
  }

  .mapcontainer{
    padding-left: 40px
  }


}

 /*NAVBAR & DROPDOWN MENU*/
.navbar-lg{
  overflow: hidden;
  display: block;
  background-color: #FDA172;
  border-radius: 4px;

}

a.nav-lg, button.nav-sm{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FDA172;
    float: left;
    padding: 12px 30px;
}

button.nav-sm{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

a.nav-lg, button.nav-sm{
    color: white;
    text-align: center;
    text-decoration: None;
    padding: 14px 24px;
    font-family: 'Poppins', sans-serif;
    border: none;
    font-size: 16px;
}

a.nav-lg:hover, button.nav-sm:hover, a.dropb:hover{
    background-color: #DD571C;
    cursor: pointer;
}

.dropdown{
  position: relative;
  height: 46px;
  background-color: #FDA172;
  border-radius: 4px;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: black;
  top: 45px;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-left: .1px;
  z-index: 1;
}

.dropb{
  color: white;
  text-align: left;
  text-decoration: None;
  padding: 10px 24px;
  font-family: 'Poppins', sans-serif;
  border: none;
  font-size: 16px;
  display: block;

}

 /*GENERAL BODY ELEMENTS*/

body{
  background: url("media/background.png") fixed center no-repeat;
  background-size: 100% 100%;
  /*background-color: #FFC394;*/
  font-family: 'Nunito', sans-serif;
  font-size: 17px;
}

h1, h2{
  text-align: center;
  text-decoration: underline;
}

h1{
  color: #ffff;
}

div.piezointro, div.section{
  margin-top: 50px;
  background-color: linen;
  border-radius: 50px;
  padding: 20px 10px;
}

div.piezointro{
  border-radius: 50px;
}


.falselink{
  text-decoration: underline;
  font-weight: bold;
  color: darkblue;
  cursor: pointer;
}

.falselink:active{
  color: #DD571C;
}

div.section{
  width: 70%;
  text-align: justify;
  padding: 40px 80px;

}

div.section p{
  display: block;
}

.drumkitmap{
  display: inline-block;
  width: 350px;
}

.info{
  text-align: justify;
  margin-bottom: 20px;
}

.container{
  justify-content: center;
  text-align: center;
}

#pzt{
  width: 70%;
  height: auto;
  display: block;
  margin: auto;
}


#pztstructure{
  width: 49.5%;
  height: 150px;
}

#piezoelectric-effect{
  float: right;
  width: 49.5%;
  height: 150px;
}

#comdrumkit{
  width: 70%;
  height: auto;
  display: block;
  margin: auto;
}
